body {
    width: 960px;
    font-family: Arial, "Helvetica Neue", Helvetica, "sans-serif";
    font-size: 18px;
    background-color: #ffffff ;
    margin: 0px auto;
    border: solid #dddddd;
}

header{
    float: left;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color:rgb(196, 191, 191);
    width: 14%;
    padding: 20px;

}

ul{
    float:right;
    list-style-type: none;
    padding: 12px;
    background-color: #ebebeb;
    margin-top: -90px;
    height: 65.5px;
    width: 97.5%;

}

li{
    float: right;
    padding: 30px;
   
}

li a{
    display: inline;
    color: darkgrey;
}

div{
    background-color: #ebebeb;
    margin-top: 80px;
    height:550px;

}



h1{
   
    background-color: #ebebeb;
    color: #4aaaa5;
    margin-top: 90px;
    margin-bottom: 20px;
    padding: 20px;
    padding-bottom: 20px;
    width: 95.8%;
    height: 35px;
}

 img{
    height: 200px;
    width: 200px;
    margin-left: 20px;
} 


h3 { 
    position: relative;
    width: -30px;
    text-align: center;
    background-color: #4aaaa5;
    margin:20px;
    padding: 5px;
    margin-right: 740px;
    margin-top: -40px;
}  

.GOT{
    float: right;
    margin-top: -295px;
    margin-right: 400px;
}

h4{
    position: relative;
    margin-bottom: -200px;
    clear: right;
    margin-left: 30px;
    background-color: #4aaaa5;
    padding: 5px;
    text-align: center;
    font-size: large;
    margin-left: 20px;
}

.Gameboy{
    float: right;
    margin-top: -255px;
    margin-right: 400px;
    margin-bottom: -2px;
}

h5{
    position: relative;
    background-color: #4aaaa5;
    clear: both;
    padding: 5px;
    text-align: center;
    font-size: x-large;
    margin-top: -7px;
    margin-left: 20px;
    
}

.RPS{
    float: right;
    clear: both;
    margin-top: -350px;
    margin-right: 75px;
}

h6{
    position: relative;
    text-align: center;
    font-size: large;
    background-color: #4aaaa5;
    padding: 4px;
    margin: 20px;
    margin-top: -10px;
    margin-right: 0px;
    margin-left: 20xp;

}



footer {
    position: absolute;
    bottom: 0;
    background-color: #666666;
    text-align: bottom;
    width: 103%;
    height: 25px;
    margin-left: -250px;
    text-align: center;
    padding: 20px;
    padding-top: 20px;
    border-top: solid #4aaaa5;
    border-width: 10px;
}

@media screen and (max-width: 980px){
    body{
        margin: 30px;
        padding: 20px;
    }

    ul{
       margin-top: -70px; 

    }

    .wrapper{
        width: 960px;
        margin-top: -58px;
    }


    .GOT{
        float: left;
        margin-left: 300px;

    }

    .Gameboy{
        float: left;
        margin-left: 300px;
    }

    .RPS{
        float: left;
        margin-left: 550px;
    }

    footer{
        height: 5px;
    }

}

@media screen and (max-width:768px){
     body{
        margin: 20px;
        padding: 10px;
        width: 700px;
        }
    
    ul{
        margin-top: -81px; 
     
     }
     .wrapper{
         width: 700px;
         /* margin-top: 2px; */
     }

     section{
        margin-left: -10px;
     }
     h3{
         width: 190px;
     }

     h1{
        width: 90%;
        margin-left: 4px;
        margin-right: -2px;
        margin-bottom: 50px;
         
     }
     

     .GOT{
         float: left;
         margin-left: 230px;
     }

     .Gameboy{
        float: left;
        margin-left: 230px;
     }

     .RPS{
         float: left;
         margin-left: 445px;
     }

}

     @media screen and (max-width:640px){
        body{
            margin: 10px;
            padding: 5px;
            width: 600px;
        }

        header{
            float: none;
            width: 93.2%;
            text-align: center;
        }
    
        ul{
            float: none;
            margin-top: 2px;
            width: 96%;
            margin-bottom: -10px;
        }
        li a{
            margin-left: -10px;
        }

        h1{
            width: 92%;
            margin-top: -62px;
        }

        .wrapper{
            width: 600px;
            height: 790px;
        }

        footer{
            height: -10px;
            padding: 15px;

        }

        .RPS{
            float: right;
            margin-top: -25px;
            margin-right: 265px;
        }

     }

        