body {
    width: 960px;
    font-family: Arial, "Helvetica Neue", Helvetica, "sans-serif";
    font-size: 18px;
    background-color: #ffffff ;
    margin: 0px auto;
    border: solid #dddddd;
}

header {
    float: left;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color:rgb(196, 191, 191);
    width: 14%;
    padding: 20px;
}

img {
    float: left;
    height: 200px;
    width: 200px;
    padding: 10px;
}

ul {
    float:right;
    list-style-type: none;
    padding: 12px;
    background-color: #ebebeb;
    margin-top: -90px;
    height: 65.5px;
    width: 97.5%;
    
}

li{
    float: right;
    padding: 30px;
   
}

li a{
    display: inline;
    color: darkgrey;
}

div{
    background-color: #ebebeb;
    margin-top: 80px;
    height:550px;

}

h1{
   
    background-color: #ebebeb;
    color: #4aaaa5;
    margin-top: 90px;
    margin-bottom: 20px;
    padding: 20px;
    padding-bottom: 20px;
    width: 95.8%;
    height: 35px;
}


p {

    background-color: #ebebeb;
    color: #777777;
    margin: 50px;
    padding: 20px;
    width: 650px;
    height: 300px;
    line-height:  25px;
}

footer {
    position: absolute;
        bottom: 0;
        background-color: #666666;
        text-align: bottom;
        width: 103%;
        height: 25px;
        margin-left: -250px;
        text-align: center;
        padding: 20px;
        padding-top: 20px;
        border-top: solid #4aaaa5;
        border-width: 10px;
}
@media screen and (max-width: 980px){
   /*set body margin and margin at the max width of 980px*/
    body{
        margin: 50px;
        padding: 30px;
    }
    /*wrapper sets the width of the div to remain at 960px after the 980 max width criteria is met*/
    .wrapper{
        width: 960px;
    }
}

@media screen and (max-width: 768px){
    body{
        margin: 30px;
        padding: 15px;
    } 
    header{
        height: 30px;
    }

    li a{
        text-align: left;
    }

    .wrapper{
        width: 700px;
    }
    ul{ margin-top: -80px;
        margin-bottom: -20px;
        height: 57px;
    }
    

}

@media screen and (max-width: 640px){
    body{
        margin: 10px;
        text-align: center;
        width: 600px;
    }

    header{
        float: none;
        width: 93.2%;
    }

    ul{
        float: none;
        margin-top: 2px;
        width: 96%;
    }
    li a{
        margin-left: -10px;
    }

    h1{
        width: 92%;
        margin-top: -62px;
    }

    img{
        float: none;
        height: 100px;
        width: 100px;
        margin-bottom: -50px;
        margin-top: -25px;
    }

    p{ 
        width: 500px;
    
    }

    .wrapper{
        width: 600px;
    }

    section{
        width: 600px;
    }
}